@import "variable";
@import "mixin";

@media screen and (max-width: 350px) {
  .action__email {
    max-width: 32.6rem;
    width: 100%;
  }
  .action__btn {
    max-width: 32.6rem;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .content__title {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 768px) {
  .body {
    position: relative;
    background-image: none;
    background-color: $dark-blue;
  }
  .image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .wrapper {
    height: 95%;
    margin-top: 5rem;
  }
  .logo {
    align-self: flex-start;
  }
  .content {
    width: 63.5rem;
    height: 51rem;
    background-color: $dark-blue;
    justify-content: flex-end;
    &__box {
      @include flex-column;
      align-items: flex-start;
      align-content: flex-start;
      height: 90%;
    }
    &__title {
      @include title-tablet;
      text-align: left;
      margin-bottom: 0;
    }
    &__paragraph {
      @include tablet-p;
      margin: 0;
      text-align: left;
      max-width: 44.5rem;
    }
  }
  .spotify {
    width: 9.6rem;
    height: 2.9rem;
    opacity: 0.5;
  }
  .apple {
    width: 7.8rem;
    height: 2.9rem;
    opacity: 0.5;
  }
  .google {
    width: 12.5rem;
    height: 1.8rem;
    opacity: 0.5;
  }
  .pocket {
    width: 12.9rem;
    height: 2.6rem;
    opacity: 0.5;
  }
  .action {
    display: none;
  }
  .combination {
    display: flex;
    width: 427px;
    height: 56px;
    position: relative;

    &__email {
      @include field-lg;
      @include mobile-cta;
      padding-left: 3.2rem;
      border: none;
      &::placeholder {
        font-weight: 700;
        padding-left: 3.2rem;
        color: $text-white;
        opacity: 0.5;
      }
    }
    &__btn {
      @include btn-lg;
      @include mobile-cta;
      font-weight: 700;
      border: none;
      position: absolute;
      top: 11%;
      right: -6%;
      z-index: 2;
    }
  }
  .dots {
    display: block;
    width: 23.2rem;
    height: 10.4rem;
    align-self: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .image {
    display: none;
  }
  .image__lg {
    display: block;
    position: absolute;
    top: 14%;
    right: 0;
    z-index: -1;
  }
  .wrapper {
    width: 77%;
    height: 72%;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .content {
    width: 72.3rem;
    &__links {
      margin-bottom: 0;
      &--list {
        justify-content: flex-start;
      }
    }
  }
  .dots {
    position: absolute;
    right: 0;
    bottom: 9%;
  }
  li + li {
    margin-left: 4rem;
  }
}
