// Small Screens
@media screen and (max-width: 350px) {
  .action__email {
    max-width: 32.6rem;
    width: 100%;
  }

  .action__btn {
    max-width: 32.6rem;
    width: 100%;
    &:hover {
      @include hover;
    }
  }
}

// **********************
// Large Screens
// @media screen and (min-width: 1440px) {
//   .image {
//     display: none;
//   }

//   .logo {
//     padding-top: 1rem;
//   }

//   .image__lg {
//     display: block;
//     background: url(../../assets/desktop/ezgif.com-gif-maker.webp) no-repeat
//       center;
//     background-size: cover;
//     width: 88.8rem;
//     height: 64rem;
//     position: absolute;
//     top: 14.5%;
//     right: 0;
//     z-index: -1;
//   }

//   .wrapper {
//     width: 77%;
//     height: 76%;
//     max-height: 70rem;
//     flex-wrap: wrap;
//     margin-top: 0;
//     margin-bottom: 4rem;
//     margin-right: 0;
//   }

//   .content {
//     width: 72.3rem;
//     &__title {
//       @include title-desktop;
//     }
//     &__links {
//       height: 3rem;
//       margin-bottom: 0;
//       &--list {
//         justify-content: flex-start;
//       }
//     }
//   }

//   .dots {
//     position: absolute;
//     right: 0;
//     bottom: 9%;
//   }

//   li + li {
//     margin-left: 4rem;
//   }
// }
