// Input field and button
.action {
  @include flex-column;
  height: 11rem;
  text-align: center;
  margin-top: 3rem;
  margin: auto;
  max-width: 40rem;
  width: 100%;

  @include breakpoint(medium) {
    align-items: flex-start;
    width: 23.7rem;
    height: 3rem;
    margin: 0 auto 2rem 0;
    position: relative;
  }

  @include breakpoint(large) {
    margin: 1rem auto 3.3rem 0;
  }

  &__form {
    position: relative;
  }

  &__email {
    @include mobile-cta;
    @include field-sm;
    &-moz-::placeholder,
    &::placeholder {
      font-weight: 700;
      padding-left: 3.2rem;
      color: $text-white;
      opacity: 0.5;
    }

    @include breakpoint(medium) {
      @include field-lg;
      @include mobile-cta;
      margin-top: 1rem;
      border: none;
      &-moz-::placeholder,
      &::placeholder {
        font-size: 0.7rem;
        line-height: 3rem;
        padding-left: 1.7rem;
        opacity: 0.7;
      }
    }
  }

  &__btn {
    @include mobile-cta;
    @include btn-sm;
    margin-top: 1.6rem;
    font-weight: 700;
    &:hover {
      @include hover;
    }

    @include breakpoint(medium) {
      @include btn-lg;
      font-size: 0.7rem;
      font-weight: 700;
      border: none;
      position: absolute;
      top: -6%;
      right: 1%;
      z-index: 2;
    }
  }
}

#reply {
  @include response;
  font-size: 1.4rem;

  @include breakpoint(medium) {
    font-size: 0.7rem;
    top: 110%;
    left: 10%;
  }
}
