@import "variable";
@import "mixin";

// Base
:root {
  font-size: 62.5%;
}

.body {
  font-family: "Chivo", sans-serif;
  background: linear-gradient(rgba(18, 23, 37, 0.9), rgba(18, 23, 37, 0.9)),
    url("../../assets/mobile/ezgif.com-gif-maker.webp") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: none;
}
.image__lg {
  display: none;
}

.combination {
  display: none;
}

.dots {
  display: none;
}

// Text content
.wrapper {
  @include flex-column;
  align-content: space-between;
  height: 80%;
}

.content {
  @include flex-column;
  align-content: space-between;
  min-height: 40rem;
  width: 87.4%;
  &__title {
    @include title-mobile;
    @include font;
    &--span {
      color: $text-white;
    }
  }
  &__paragraph {
    @include mobile-p;
    @include paragraph;
  }
  &__links {
    width: 100%;
    margin-bottom: 2rem;
    &--list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 0;
      list-style-type: none;
      text-decoration: none;
      justify-content: space-between;
    }
  }
}

li + li {
  margin-left: 2rem;
}

// Icons
.spotify {
  width: 5.6rem;
  height: 1.7rem;
  opacity: 0.5;
}
.apple {
  width: 4.5rem;
  height: 1.7rem;
  opacity: 0.5;
}
.google {
  width: 7.3rem;
  height: 1.1rem;
  opacity: 0.5;
}
.pocket {
  width: 7.7rem;
  height: 1.5rem;
  opacity: 0.5;
}

// Input field and button
.action {
  @include flex-column;
  min-height: 11rem;
  text-align: center;
  margin-top: 2rem;
  max-width: 40rem;
  width: 100%;
  &__email {
    @include mobile-cta;
    @include field-sm;
    &::placeholder {
      font-weight: 700;
      padding-left: 3.2rem;
      color: $text-white;
      opacity: 0.5;
    }
  }
  &__btn {
    @include mobile-cta;
    @include btn-sm;
    margin-top: 1.6rem;
    font-weight: 700;
  }
}
